{{#each this}}<div class="card">
    <div class="card-body">
        <h2 class="card-title">{{name}}</h2>
        <p class="card-text">Capital: <span class="text-value">{{capital}}</span></p>
        <p class="card-text">Population: <span class="text-value">{{population}}</span></p>
        <p class="card-text">Languages:
        <ul class="list-group">
            {{#each languages}}
            <li class="list-group-item">{{name}}</li>
            {{/each}}
        </ul>
        </p>
    </div>
    <div class="card-img">
        <img class="flag-img" src="{{flag}}" alt="{{flag}}" width="400">
    </div>
</div>
{{/each}}